#board {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 50%;
  border: 3px solid black;
}

.rowContainer{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  border: 3px solid black;
  margin: 5px;
}